<div class="main">
  <div *ngIf="ShowHeader == true">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid justify-content-between">
        <h1 class="ms-3">Welcome {{ FirstName }}!</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Language
              </a>
              <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                <li><a class="dropdown-item" href="#">Yoruba</a></li>
                <li><a class="dropdown-item" href="#">Igbo</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Hausa</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="reportDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Report
              </a>
              <ul class="dropdown-menu" aria-labelledby="reportDropdown">
                <li><a class="dropdown-item" href="#">Ms Word</a></li>
                <li><a class="dropdown-item" href="#">Ms Excel</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">PDF</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="projectDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Project
              </a>
              <ul class="dropdown-menu" aria-labelledby="projectDropdown">
                <li><a class="dropdown-item" href="#">New BlogPost</a></li>
                <li><a class="dropdown-item" href="#">Interview</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#"><i class="bi bi-bell-fill"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#"><i class="bi bi-envelope-at-fill"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle" height="30" alt="" loading="lazy">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
