<div class="container">
  <form class="registration-form">
    <h1>Employee Registration Form</h1>
    <h2>Personal Information</h2>
    <div class="form-row">
      <div class="form-group">
        <label for="first-name">First Name</label>
        <input type="text" id="first-name" name="first-name" />
      </div>
      <div class="form-group">
        <label for="last-name">Last Name</label>
        <input type="text" id="last-name" name="last-name" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="dob">Date of Birth</label>
        <input type="date" id="dob" name="dob" />
      </div>
      <div class="form-group">
        <label for="nationality">Nationality</label>
        <input type="text" id="nationality" name="nationality" />
      </div>
    </div>
    <div class="form-group">
      <label>Gender</label>
      <div class="form-row">
        <div class="checkbox-group">
          <label
            ><input type="checkbox" name="gender" value="female" />
            Female</label
          >
        </div>
        <div class="checkbox-group">
          <label
            ><input type="checkbox" name="gender" value="male" /> Male</label
          >
          
        </div>
      </div>
    </div>
    <h2>Contact Information</h2>
    <div class="form-row">
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" id="email" name="email" />
      </div>
      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="tel" id="phone" name="phone" />
      </div>
    </div>
    <div class="form-group">
      <label for="street-address">Street Address</label>
      <input type="text" id="street-address" name="street-address" />
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" id="city" name="city" />
      </div>
      <div class="form-group">
        <label for="state">State/Province/Region</label>
        <input type="text" id="state" name="state" />
      </div>
    </div>
   
    <h2>Employement Details</h2>
    <div class="form-group">
      <label for="enrollment-type">Employement Type</label>
      <div>
        <label
          ><input type="radio" name="enrollment-type" value="full-time" />
          Full-time</label
        >
        <label
          ><input type="radio" name="enrollment-type" value="part-time" />
          Part-time</label
        >
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="student-id">Staff ID Number</label>
        <input type="text" id="student-id" name="student-id" />
      </div>
      <div class="form-group">
        <label for="graduation-year">Department</label>
        <input
          type="number"
          id="graduation-year"
          name="graduation-year"
          min="2024"
          max="2030"
        />
      </div>
      <div class="form-group">
        <label for="graduation-year">Role</label>
        <input
          type="number"
          id="graduation-year"
          name="graduation-year"
          min="2024"
          max="2030"
        />
      </div>
    </div>
    <h2>Next of Kin</h2>
    <div class="form-group">
      <label for="street-address">Full Name</label>
      <input type="text" id="nextofkinname" name="nextofkinname" />
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="postal-code">Relationship to Employee</label>
        <input type="text" id="Relationship" name="Relationship" />
      </div>
      <div class="form-group">
        <label for="country">Phone number</label>
        <input type="digit" id="Nextofkinnumber" name="Nextofkinnumber"/>
      </div>
    </div>
    <h2>Employee Credentials</h2>
    <div class="form-row">
      <div class="form-group">
        <input type="text" id="School" name="School" value="School/ Name" />
      </div>
      <div class="form-group">
        <input type="digit" id="Program" name="Program" value="Program/ Major"/>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <input type="text" id="Degree" name="Degree" value="Degree Earned" />
      </div>
      <div class="form-group">
        <input type="digit" id="yearofgraduation" name="yearofgraduation" value="Graduation-year"/>
      </div>
    </div>
  </form>
</div>
