body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

form {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="date"] {
    width: calc(100% - 24px);
}

form .gender {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

form .gender label {
    margin: 0;
}

form .gender input {
    margin-right: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}
