<aside id="sidebar" [class.expand]="isExpanded" style="height: 100vh;">
  <div class="d-flex">
    <button class="toggle-btn" (click)="toggleSidebar()">
      <i class="bi bi-grid"></i>
    </button>
    <div class="sidebar-logo">
      <a (click)="NavigateToDashboard()" routerLink="homescreen">Hr Management</a>
    </div>
  </div>
  <ul class="sidebar-nav">
      <li class="sidebar-item">
        <a (click)="navigateToEmployeeDashboard()" routerLink="/employee-dashboard" class="sidebar-link">
          <i class="bi bi-person"></i>
          <span>Employees</span>
        </a>
      </li>
    
      <li class="sidebar-item">
        <a (click)="navigateToDepartment()" routerLink="/department" class="sidebar-link">
          <i class="fa fa-users"></i>
          <span>Department</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a (click)="navigateToHoliday()" routerLink="/department" class="sidebar-link">
          <i class="bi bi-rocket-takeoff-fill"></i>
          <span>Holiday</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" (click)="toggleAuthDropdown()">
          <i class="bi bi-sliders"></i>
          <span>Leave</span>
        </a>
        <ul id="auth" class="sidebar-dropdown list-unstyled" [class.collapse]="isCollapse" data-bs-parent="#sidebar">
          <li class="sidebar-item">
            <a (click)="navigateToApplyLeave()" routerLink="/ApplyLeave" class="sidebar-link">Apply for Leave</a>
          </li>
          <li class="sidebar-item">
            <a (click)="navigateToViewLeave()" routerLink="/ViewLeave" class="sidebar-link">View Leave</a>
          </li>
        </ul>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" (click)="toggleHireDropdown()">
          <i class="fa fa-briefcase"></i>
          <span>Hire</span>
        </a>
        <ul id="auth" class="sidebar-dropdown list-unstyled" [class.collapse]="isCollapsed" data-bs-parent="#sidebar">
          <li class="sidebar-item">
            <a (click)="navigateTojobs()" routerLink="/Jobs" class="sidebar-link">Jobs</a>
          </li>
          <li class="sidebar-item">
            <a (click)="navigateToreferral()" routerLink="/referral" class="sidebar-link">Referral</a>
          </li>
          <li class="sidebar-item">
            <a (click)="navigateToapplicant()" routerLink="/applicant" class="sidebar-link">Applicants</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="sidebar-footer">
      <a (click)="navigateToLogin()" routerLink="/Login" class="sidebar-link">
        <i class="bi bi-box-arrow-left"></i>
        <span>Logout</span>
      </a>
    </div>
  </aside>
  