<div class="body d-flex py-lg-3 py-md-2">
  <div class="container-xxl">
    <div class="row align-items-center mb-4">
      <div class="border-0">
        <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
          <!-- <h3 class="fw-bold mb-0">Jobs</h3> -->
          <div class="col-auto d-flex w-sm-100">
            <button
              type="button"
              class="btn btn-dark btn-set-task w-sm-100"
              data-bs-toggle="modal"
              data-bs-target="#leaveadd"
            >
              <i class="fa fa-plus-circle me-2 fs-6"></i>New Referral
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Job  Table -->
    <div class="row clearfix g-3">
      <div class="col-sm-12">
        <div class="card mb-3">
          <div class="card-body">
            <div
              id="myProjectTable_wrapper"
              class="dataTables_wrapper dt-bootstrap5 no-footer"
            >
              <!-- Your Leave Request Table HTML -->
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="dataTables_length" id="myProjectTable_length">
                    <label>Show
                      <select
                        name="myProjectTable_length"
                        aria-controls="myProjectTable"
                        class="form-select form-select-sm"
                      >
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select> entries
                    </label>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div id="myProjectTable_filter" class="dataTables_filter">
                    <label>Search:<input
                        type="search"
                        class="form-control form-control-sm"
                        placeholder=""
                        aria-controls="myProjectTable"
                    /></label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <table
                    id="myProjectTable"
                    class="table table-hover align-middle mb-0 nowrap dataTable no-footer dtr-inline"
                    style="width: 100%"
                    role="grid"
                    aria-describedby="myProjectTable_info"
                  >
                  <thead>
                    <tr role="row">
                      <th
                        class="sorting_asc"
                        tabindex="0"
                        aria-controls="myProjectTable"
                        rowspan="1"
                        colspan="1"
                        style="width: 80px"
                        aria-sort="ascending"
                        aria-label="Employee Id: activate to sort column descending"
                      >
                        Name
                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="myProjectTable"
                        rowspan="1"
                        colspan="1"
                        style="width: 73.2px"
                        aria-label="Employee Name: activate to sort column ascending"
                      >
                       Email
                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="myProjectTable"
                        rowspan="1"
                        colspan="1"
                        style="width: 88.2px"
                        aria-label="Leave Type: activate to sort column ascending"
                      >
                       Phone Number
                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="myProjectTable"
                        rowspan="1"
                        colspan="1"
                        style="width: 69.2px"
                        aria-label="From: activate to sort column ascending"
                      >
                       Referred for
                      </th>
                      <th
                        class="dt-body-right sorting"
                        tabindex="0"
                        aria-controls="myProjectTable"
                        rowspan="1"
                        colspan="1"
                        style="width: 69.2px"
                        aria-label="To: activate to sort column ascending"
                      >
Referred On                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="myProjectTable"
                        rowspan="1"
                        colspan="1"
                        style="width: 112.2px"
                        aria-label="Reason: activate to sort column ascending"
                      >
                        Status
                      </th>
                     
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="no-applicants">
                      <td colspan="6">
                          <div class="no-applicants-content">
                              <img src="assets/Images/referral-empty.svg" alt="No Applicants">
                              <p>No applicants referred</p>
                          </div>
                      </td>
                  </tr>
                    <!-- <tr role="row" class="odd">
                      <td tabindex="0" class="sorting_1">
                        <a
                          href="employee-profile.html"
                          class="fw-bold text-secondary"
                          >Frontend</a
                        >
                      </td>
                      <td>
                        <img
                          src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg"
                          class="rounded-circle bii"
                          height="30"
                          alt=""
                          loading="lazy"
                        />
                        <span class="fw-bold ms-1">#EMP : 00001</span>
                      </td>
                      <td>1</td>
                      <td>12/03/2021</td>
                      <td class="dt-body-right">14/03/2021</td>
                      <td>Full time</td>
                     
                    </tr>
                    <tr role="row" class="odd">
                      <td tabindex="0" class="sorting_1">
                        <a
                          href="employee-profile.html"
                          class="fw-bold text-secondary"
                          >Frontend</a
                        >
                      </td>
                      <td>
                        <img
                          src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg"
                          class="rounded-circle bii"
                          height="30"
                          alt=""
                          loading="lazy"
                        />
                        <span class="fw-bold ms-1">#EMP : 00001</span>
                      </td>
                      <td>1</td>
                      <td>12/03/2021</td>
                      <td class="dt-body-right">14/03/2021</td>
                      <td>Full time</td>
                     
                    </tr> -->
                  </tbody>

                  </table>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-5">
                  <div
                    class="dataTables_info"
                    id="myProjectTable_info"
                    role="status"
                    aria-live="polite"
                  >
                    Showing 1 to 7 of 7 entries
                  </div>
                </div>
                <div class="col-sm-12 col-md-7">
                  <div
                    class="dataTables_paginate paging_simple_numbers"
                    id="myProjectTable_paginate"
                  >
                    <ul class="pagination">
                      <!-- Pagination Links -->
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


