@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px !important;
    height: 2px !important;
}

::-webkit-scrollbar-thumb {
    background-color: #6d44b8 !important;
    height: 4px !important;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

#sidebar {
    transition: width 0.25s ease-in-out;
    color: #FFF;
    width: 70px;
    min-width: 70px;
    min-height: 100vh;
    z-index: 1000;
    background-color: #6d44b8;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    border: none;
    color: #FFF;
    background-color: transparent;
    cursor: pointer;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    display: flex;
    align-items: center;
    padding: 0.75rem 1.5rem;
    color: #FFF;
    font-size: 0.9rem;
    white-space: nowrap;
    transition: background-color 0.3s, border-left 0.3s;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
    color: #FFF;
}

.sidebar-dropdown {
    display: none;
    padding-left: 2rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #f58634;
}

.sidebar-item {
    position: relative;
}

.sidebar-item .sidebar-dropdown a.sidebar-link {
    padding: 0.5rem 1rem;
}

.sidebar-item:hover .sidebar-dropdown {
    display: block;
}

.main {
    flex-grow: 1;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fff;
}

.wrapper {
    display: flex;
}

.main.expanded {
    margin-left: 260px;
}

/* Modal style */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    justify-content: center;
    align-items: center;
    z-index: 10000;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-center-content {
    position: absolute;
    background-color: #fefefe;
    overflow-y: auto;
    max-height: calc(100vh - 50px);
    overflow-y: auto;
    border: none;
    border-radius: 5px;
    width: 40% !important;
    animation: slideFromTop 0.8s ease-out 0s 1 both;
    /* Could be more or less, depending on screen size */
}

.modal-heading {
    font-size: 18px !important;
    font-weight: 600 !important;
    color: #000 !important;
    margin-top: 6px !important;
}

/* Responsive Styles */
@media (max-width: 767.98px) {
    .navbar .container-fluid {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-collapse {
        flex-grow: 1;
        text-align: center;
    }

    .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    .navbar-nav .nav-item {
        margin: 0.5rem 0;
    }
}
